* {
  box-sizing: border-box; /* Include padding and border in width/height */
}

/* General dark mode setup */
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 5vw;
  height: 100vh;
  font-size: 0.95rem;
}

h1 {
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
}

/* Container for the back-to-main button */
.back-to-main {
  display: flex;
  justify-content: flex-start;
}

.main-button {
  color: #ffffff;
  text-decoration: none;
}
.main-button:hover {
  color: #bbbbbb;
}

.page-brief {
  display: flex;
  justify-content: center;
  color: #b0b0b0;
  font-size: 0.9rem;
}


/* MAIN PAGE ------------------------------------------------------------ */

/* Main container centered on the page */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

/* Button container to align the buttons */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

/* Button styling */
.button {
  padding: 1rem 2rem;
  background-color: #1f1f1f;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  width: 20rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Style for the main text */
.main-text {
  display: block;
  font-weight: bold;
  padding-bottom: 1rem;
}

/* Style for the subtext */
.subtext {
  display: block;
  font-size: 0.9rem;
  color: #b0b0b0;
  text-align: left;
}

.button:hover {
  background-color: #292929;
  transform: scale(1.05);
}


/* FRANKENSTEINS ----------------------------------------------------------- */

/* Container to hold the cards */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

/* Basic Card Styling */
.card {
  background-color: #1f1f1f;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 30rem;
  height: 15rem;
  cursor: pointer;
  transition: transform 0.3s ease, height 0.3s ease;
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
}

/* Card Header (for image) */
.card-header {
  flex: 0 0 40%;
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card Body */
.card-body {
  flex: 0 0 60%;
  padding: 2rem;
  text-align: left;
  overflow-y: auto;
}

.card-body h3 {
  margin: 0;
  color: #fff;
}

.card-body .description {
  margin-top: 1rem;
  color: #b0b0b0;
  text-align: left;
}

/* Expanded description when clicked */
.card.expanded .description {
  color: #e0e0e0;
}


/* PROJECTS -------------------------------------------------------------- */

.large-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.large-container a {
  color: #4db8ff;
  text-decoration: none;
}
.large-container a:hover {
  text-decoration: underline;
}
.large-container a:visited {
  color: #a3a3ff;
}

.large-card {
  background-color: #1f1f1f;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 2rem;
  transition: max-height 0.3s ease, transform 0.3s ease;
  width: 70rem; /* Default width */
  max-width: 100%; /* Prevent growing beyond container */
  flex-shrink: 1; /* Allows shrinking */
  font-size: 0.9rem;
}

.large-card-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: center;
}
.large-card-header img {
  width: 20rem;
  border-radius: 2px;
  max-width: 100%; /* Prevent growing beyond container */
  flex-shrink: 1; /* Allows shrinking */
}

.large-card-body {
  display: none; /* Initially hidden */
  line-height: 1.5rem;
}
.large-card-body img {
  width: 35rem;
  border-radius: 2px;
  max-width: 100%; /* Prevent growing beyond container */
  flex-shrink: 1; /* Allows shrinking */
}

.large-card.expanded .large-card-body {
  display: block; /* Show the body when expanded */
}

.large-card.expanded {
  transform: scale(1.01);
}

.video {
  position: relative;
  width: 100%;
  max-width: 30rem;
  aspect-ratio: 16 / 9;
  height: auto;
  overflow: hidden;
  border-radius: 2px;
}

.video iframe {
  width: 100%;
  height: 100%;
}
